<div class="wrapper-cart"

>
  <mat-card class="todo-card">
    <mat-card-header>
      <mat-card-title>{{task.title}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div *ngFor="let subTask of task.subTasks; let i=index;">
        <p class="task">
          <mat-checkbox class="example-margin" [color]="'primary'" [checked]="subTask.done"
                        (change)="changeTaskStatus($event, i)">
        <p class="task-text">
          <span class="task-name">{{subTask.name}}</span>
        </p>
        </mat-checkbox>
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="action">
        <button mat-button color="primary" (click)="onUpdate()">
          <i class="material-icons">
            edit
          </i>
          </button>
        <button mat-button *ngIf="!first" (click)="moveToPrev()">
          <i class="material-icons">
            navigate_before
          </i>
        </button>
        <button mat-button *ngIf="!lastCategory" (click)="moveToNext()">
          <i class="material-icons">
            navigate_next
          </i>
        </button>
        <button mat-button color="accent" (click)="deleteToDO()">
          <i class="material-icons">
            delete_forever
          </i>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>

</div>
