
<div class="wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-4 col-sm-7">
        <button mat-raised-button class="btn-width btn-google"
                (click)="socialSignIn('google')"
        >Sign Up with Google</button>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="or">
          <span class="or-text">
            or
          </span>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-4 col-sm-7">
        <form [formGroup]="signUp" (submit)="onSubmit($event)">
          <div class="server-error"
               *ngIf="error$ | async as error"
          >
            <span *ngIf="error">
                {{ error }}
            </span>
          </div>

          <div class="form-name">
            <app-input>
              <mat-form-field>
                <input matInput autocomplete="off" placeholder="Email address" formControlName="email" type="email">
              </mat-form-field>
              <app-input-error>
                <p class="pattern-error">Pattern isn't correctly</p>
              </app-input-error>
            </app-input>
          </div>
          <div class="form-password">
            <app-input>
              <mat-form-field>
                <input matInput autocomplete="off" placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </mat-form-field>
              <app-input-error>
                <p class="pattern-error">Pattern isn't correctly</p>
              </app-input-error>
            </app-input>


          </div>

          <button mat-raised-button [disabled]="signUp.invalid" class="w-100 btn-submit" color="primary">Sign Up</button>
        </form>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-4 col-sm-7">
        <p class="no-account">
          Alredy have an Task account? <a class="link" [routerLink]="['/sign-in']">Sign In here</a>
        </p>
      </div>
    </div>
  </div>
</div>
