@import "../../../styles/variables";

.wrapper {
}

.title {

  &-text {
    text-align: center;
    color: $accent-gray;
    padding-top: 30px;
    padding-bottom: 15px;
    font-family: AvenirHeavy;
    font-size: 18px;
  }
}

.form {

  &-title {
    text-align: center;
    color: $gray-text;
    padding-bottom: 15px;
    font-family: AvenirRoman;
    font-size: 14px;
  }
}

mat-form-field {
  display: block;
  font-family: AvenirRoman;
  color: $gray-text;
  font-size: 14px;
}

mat-error {
  font-family: AvenirRoman;
}

.btn-submit {
  display: block;
  margin-top: 15px;
}

.server-error1 {
  font-size: 75%;
  margin-top: .54167em;
  top: calc(100% - .2em);
  position: absolute;
  width: 100%;
  overflow: hidden;
  color: #f44336;
  font-family: AvenirRoman;
  //font-size: 12px;
}
