<div class="wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-5 col-sm-9">
        <div class="title">
          <h2 class="title-text">
            Create new password
          </h2>
        </div>
        <div class="wrapper-form">
          <p class="form-title">
            Please enter your password below to access yor account
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-4 col-sm-6">
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit(passwordForm)">


          <div class="server-error"
               *ngIf="serverError$ | async as serverError"
          >
            <span>
              {{serverError}}
            </span>
            <!--<odds-error [form]="signIn" [errors]="serverError" [errorName]="'none_field'"></odds-error>-->
          </div>

          <div class="form-password">
            <app-input>
              <mat-form-field>
                <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'">
              </mat-form-field>
              <app-input-error>
              </app-input-error>
            </app-input>
          </div>
          <div class="form-password confirm">
            <app-input>
              <mat-form-field>
                <input matInput placeholder="Confirm password" formControlName="confirmPassword" [type]="hideConfirm ? 'password' : 'text'">
              </mat-form-field>
              <app-input-error>
              </app-input-error>
            </app-input>
          </div>
          <button class="btn-submit w-100"
                  mat-raised-button
                  type="submit"
                  color="primary"
                  [disabled]="passwordForm.invalid"
          >Create new password</button>

        </form>
      </div>
    </div>
  </div>
</div>
