<!--<div *ngIf="afAuth.user | async as user; else showLogin">-->
  <!--<h1>Hello {{ user.displayName }}!</h1>-->
  <!--<button (click)="logout()">Logout</button>-->
<!--</div>-->
<!--<ng-template #showLogin>-->
  <!--<p>Please login.</p>-->
  <!--<button (click)="login()">Login with Google</button>-->
<!--</ng-template>-->

<!--<ng-container *ngIf="(auth.user | async) || {} as user">-->

  <!--<form [formGroup]="signupForm" *ngIf="!user.uid" (ngSubmit)="signup()">-->

    <!--<h3>New User Signup</h3>-->

    <!--<label for="email">Email</label>-->
    <!--<input id="email" type="email" formControlName="email">-->


    <!--<div *ngIf="email.invalid && email.dirty">-->
      <!--Your email doesn't look quite right...-->
    <!--</div>-->

    <!--<label for="password">Password</label>-->
    <!--<input id="password" type="password" formControlName="password" required>-->

    <!--<div *ngIf="password.invalid && password.touched" >-->
      <!--Password must be between 6 and 24 chars and have at least one number-->
    <!--</div>-->

    <!--<div *ngIf="signupForm.valid" >Form looks good! Let's do this.</div>-->

    <!--<button type="submit" [disabled]="!signupForm.valid">Submit</button>-->


  <!--</form>-->

<!--</ng-container>-->


<div class="wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-4 col-sm-7">
        <!--<button mat-raised-button class="btn-width btn-facebook"-->
                <!--(click)="socialSignIn(facebook)"-->
        <!--&gt;Log in with Facebook</button>-->
        <button mat-raised-button class="btn-width btn-google"
                (click)="socialSignIn('google')"
        >Log in with Google</button>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="or">
          <span class="or-text">
            or
          </span>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-4 col-sm-7">
        <form [formGroup]="signIn" (ngSubmit)="signInEmail($event, signIn)">
          <div class="server-error"
               *ngIf="serverError$ | async as serverError"
          >
            <span>
              {{serverError}}
            </span>
            <!--<odds-error [form]="signIn" [errors]="serverError" [errorName]="'none_field'"></odds-error>-->
          </div>
          <div class="form-name">
            <mat-form-field>
              <input matInput placeholder="Email address" formControlName="email" type="email">
              <!--<mat-error *ngIf="signIn.get('email').invalid">{{getErrorMessage(signIn.get('email'))}}</mat-error>-->
            </mat-form-field>
          </div>
          <div class="form-password">
            <mat-form-field>
              <input matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              <!--<mat-error *ngIf="signIn.get('password').invalid">{{getErrorMessage(signIn.get('password'))}}</mat-error>-->
            </mat-form-field>
          </div>
          <div class="form-forgot">
            <button type="button"
                    *ngIf="!serverError"
                    class="forgot-password"
                    (click)="openForgot($event)"
            >
              Forgot your password?
            </button>
          </div>

          <button mat-raised-button [disabled]="signIn.invalid" class="w-100 btn-submit" color="primary">Log in</button>
        </form>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-4 col-sm-7">
        <p class="no-account">
          Don't have an Task account yet? <a class="link" [routerLink]="['/sign-up']">Sign up here</a>
        </p>
      </div>
    </div>
  </div>
</div>
